.idea
*.iml
*.log
#Backend
/backend/HELP.md
/backend/target/
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/
backend/mvnw
backend/mvnw.cmd
backend/.mvn


#Frontend
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local